{% comment %} {% extends 'base.html' %}
{% load static %}

{% block title %}Delete Treatment{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h3>Delete Treatment</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <p>Apakah kamu yakin untuk menghapus Perawatan untuk Kunjungan {{ treatment.id_kunjungan }} dengan Perawatan {{ treatment.kode_perawatan }} - {{ treatment.nama_perawatan }}?</p>
                    </div>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group text-end">
                            <a href="{% url 'treatments:list_treatments' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Confirm Deletion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% endcomment %}