{% load static %}

<nav class="bg-gradient-to-r from-stone-900 to-stone-700 shadow-md rounded-lg mx-2 my-2">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      
      <div class="flex-shrink-0 flex items-center">
        <span class="text-white text-sm font-bold"></span>
      </div>
      
      <div class="hidden sm:flex sm:items-center">
        <div class="flex space-x-4">
          {% if request.session.user_email %}
            <a href="{% url 'authentication:dashboard' %}" class="{% if request.path == '/dashboard/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Dashboard</a>
            
            {% if request.session.user_type == 'individu' or request.session.user_type == 'perusahaan' %}
              <a href="{% url 'animals:hewan_list' %}" class="{% if request.path == '/animals/hewan_list/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Kelola Hewan Peliharaan</a>
              <a href="{% url 'medications:client_prescriptions' %}" class="block {% if request.path == '/my-prescriptions/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Resep Obat Hewan</a>
              <a href="#" class="{% if '/treatments/klien/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Perawatan Hewan</a>

              <a href="#" class="{% if request.path == '/visits/visit_list_doctor' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Daftar Kunjungan</a>
              <a href="{% url 'client_vaccination_list' %}" class="{% if '/vaccinations/client/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Daftar Vaksinasi</a>

            {% elif request.session.user_type == 'front_desk' %}
              <a href="{% url 'animals:jenis_hewan_list' %}" class="{% if request.path == '/animals/jenis_hewan_list/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Kelola Jenis Hewan</a>
              <a href="{% url 'treatments:n_treatment_list' %}" class="{% if '/treatments/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Perawatan Hewan</a>
              <a href="{% url 'animals:hewan_list' %}" class="{% if request.path == '/animals/hewan_list/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Kelola Hewan Peliharaan</a>
              <a href="{% url 'visits:visit_list_fd' %}" class="{% if '/visits/visit_list_fd' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Kelola Kunjungan</a>
              <a href="{% url 'authentication:list_client' %}" class="{% if '/list-client/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Daftar Klien</a>

            {% elif request.session.user_type == 'dokter' %}
              <a href="{% url 'animals:jenis_hewan_list' %}" class="{% if request.path == '/animals/jenis_hewan_list/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Daftar Jenis Hewan</a>
              <a href="#" class="{% if '/treatments/doctor/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Perawatan Hewan</a>
              <a href="{% url 'visits:visit_list_doctor' %}" class="{% if request.path == '/visits/visit_list_doctor' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Daftar Kunjungan</a>
              <a href="{% url 'medications:medicine_list' %}" class="{% if '/medications/medicine/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Obat</a>
              <a href="{% url 'treatments:treatment_type_list' %}" class="{% if '/treatments/types/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Jenis Perawatan</a>
              <a href="{% url 'medications:prescription_list' %}" class="{% if '/medications/prescriptions/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Pemberian Obat</a>
              <a href="{% url 'vaccination_list' %}" class="{% if '/vaccinations/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Vaksinasi Hewan</a>

            {% elif request.session.user_type == 'perawat' %}
              <a href="{% url 'medications:medicine_list' %}" class="{% if '/medications/medicine/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Obat</a>
              <a href="#" class="{% if '/treatments/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Perawatan Hewan</a>
              <a href="{% url 'treatments:treatment_type_list' %}" class="{% if '/treatments/types/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Jenis Perawatan</a>
              <a href="{% url 'vaccine_list' %}" class="{% if '/vaccinations/list-vaccines' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Manajemen Vaksin</a>
            {% endif %}
            
            <a href="{% url 'authentication:logout' %}" class="{% if request.path == '/logout/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Logout</a>
          {% else %}
            <!-- Only show login and register links for guest users -->
            <a href="{% url 'authentication:login' %}" class="{% if request.path == '/login/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Login</a>
            <a href="{% url 'authentication:register' %}" class="{% if request.path == '/register/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-sm font-medium transition duration-300 text-center">Registrasi</a>
          {% endif %}
        </div>
      </div>
      
      <div class="flex items-center sm:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-white hover:bg-stone-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-expanded="false" id="mobile-menu-button">
          <span class="sr-only">Buka menu utama</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="sm:hidden hidden bg-gradient-to-r from-stone-900 to-stone-700 rounded-lg mx-4 mb-4" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {% if request.session.user_email %}
        <!-- Dashboard link for all user types (Mobile) -->
        <a href="{% url 'authentication:dashboard' %}" class="block {% if request.path == '/dashboard/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Dashboard</a>
        
        {% if request.session.user_type == 'individu' or request.session.user_type == 'perusahaan' %}
          <!-- Menu Klien (Mobile) -->
          <a href="{% url 'animals:hewan_list' %}" class="block {% if request.path == '/animals/hewan_list/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Kelola Hewan Peliharaan</a>
          <a href="{% url 'medications:client_prescriptions' %}" class="block {% if request.path == '/my-prescriptions/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Resep Obat Hewan</a>
          <a href="#" class="block {% if request.path == '/treatments/klien' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Perawatan Hewan</a>
          <a href="#" class="block {% if request.path == '/visits/visit_list_doctor' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Daftar Kunjungan</a>
          <a href="{% url 'client_vaccination_list' %}" class="block {% if '/vaccinations/client/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Daftar Vaksinasi</a>

        {% elif request.session.user_type == 'front_desk' %}
          <!-- Menu Front-Desk Officer (Mobile) -->
          <a href="{% url 'animals:jenis_hewan_list' %}" class="block {% if request.path == '/animals/jenis_hewan_list/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Kelola Jenis Hewan</a>
          <a href="{% url 'animals:hewan_list' %}" class="block {% if request.path == '/animals/hewan_list/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Kelola Hewan Peliharaan</a>
          <a href="{% url 'treatments:treatment_type_list' %}" class="block {% if request.path == '/treatments/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Perawatan Hewan</a>
          <a href="{% url 'authentication:list_client' %}" class="block {% if '/list-client/' in request.path %}bg-stone-600 text-white{% else %}text-white hover:text-Stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Daftar Klien</a>
          <a href="{% url 'visits:visit_list_fd' %}" class="block {% if '/visits/visit_list_fd' in request.path %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Kelola Kunjungan</a>
        {% elif request.session.user_type == 'dokter' %}
          <!-- Menu Dokter Hewan (Mobile) -->
          <a href="{% url 'animals:jenis_hewan_list' %}" class="block {% if request.path == '/animals/jenis_hewan_list/' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Daftar Jenis Hewan</a>
          <a href="#"class="block {% if request.path == '/treatments/doctor' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Perawatan Hewan</a>
          <a href="{% url 'visits:visit_list_doctor' %}" class="block {% if request.path == '/visits/visit_list_doctor' %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Daftar Kunjungan</a>
          <a href="{% url 'medications:medicine_list' %}" class="block {% if '/medications/medicine/' in request.path %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Manajemen Obat</a>
          <a href="{% url 'treatments:treatment_type_list' %}" class="block {% if '/treatments/types/' in request.path %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Manajemen Jenis Perawatan</a>
          <a href="{% url 'medications:prescription_list' %}" class="block {% if '/medications/prescriptions/' in request.path %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Manajemen Pemberian Obat</a>
          <a href="{% url 'vaccination_list' %}" class="block {% if '/vaccinations/' in request.path %}bg-stone-600 text-white{% else %}text-white hover:text-stone-200{% endif %} px-3 py-2 text-base font-medium border-b border-transparent hover:border-white transition duration-300 text-center">Manajemen Vaksinasi Hewan</a>
        {% elif request.session.user_type == 'perawat' %}
          <!-- Menu Perawat Hewan (Mobile) -->
          <a href="{% url 'medications:medicine_list' %}" class="block {% if '/medications/medicine/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Manajemen Obat</a>
          <a href="#" class="block {% if '/treatments/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Perawatan Hewan</a>
          <a href="{% url 'treatments:treatment_type_list' %}" class="block {% if '/treatments/types/' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Manajemen Jenis Perawatan</a>
          <a href="{% url 'vaccine_list' %}" class="block {% if '/vaccinations/list-vaccines' in request.path %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Manajemen Vaksin</a>
        {% endif %}
        
        <!-- Tombol Logout (Mobile) -->
        <a href="{% url 'authentication:logout' %}" class="block {% if request.path == '/logout/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Logout</a>
      {% else %}
        <!-- Only show login and register links for guest users (Mobile) -->
        <a href="{% url 'authentication:login' %}" class="block {% if request.path == '/login/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Login</a>
        <a href="{% url 'authentication:register' %}" class="block {% if request.path == '/register/' %}text-white border-b-2 border-white{% else %}text-white hover:text-stone-200 border-b border-transparent hover:border-white{% endif %} px-3 py-2 text-base font-medium transition duration-300 text-center">Registrasi</a>
      {% endif %}
    </div>
  </div>
</nav>

<script>
  // Script untuk toggle menu mobile
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  
  mobileMenuButton.addEventListener('click', function() {
    mobileMenu.classList.toggle('hidden');
  });
</script>